<h1>里親募集編集</h1>

<%= form_with model: @rescued_cat, multipart: true do |f| %>

  <h4>画像</h4>
  <%= f.file_field :images, multiple: true %>
  <h4>ラベル(“/”で複数個登録できます)</h4>
  <%= f.text_field :name, value: @rescued_cat.labels.pluck(:name).join('/') %>
  <h4>タイトル</h4>
  <%= f.text_field :title %>
  <h4>本文</h4>
  <%= f.text_area :body %>
  <h4>名前</h4>
   <%= f.text_field :name, autofocus: true %>
  <h4>年齢</h4>
  <%= f.text_field :age, autofocus: true  %>
  <h4>性別</h4>
  <%= f.text_field :sex, autofocus: true, placeholder:"オスorメス"  %>
  <h4>ワクチン</h4>
  <%= f.text_area :vaccine, autofocus: true , placeholder:"接種済みワクチンまたは未接種と記入してください。" %>
  <h4>去勢/避妊手術</h4>
  <%= f.radio_button :is_castration, "true" %>
  <%= f.label :is_castration_true, "去勢済み" %>
  <%= f.radio_button :is_castration, "false" %>
  <%= f.label :is_castration_false, "未去勢" %>
  <h4>譲渡先</h4>
  <%= f.radio_button :is_completion, "true" %>
  <%= f.label :is_is_completion_true, "譲渡先決定！" %>
  <%= f.radio_button :is_completion, "false" %>
  <%= f.label :is_completion_false, "募集中" %>

    

 
  <%= f.submit '変更保存' %>
<% end %>

