<div class="container mt-5">
  <h1 class="text-center">里親募集一覧</h1>

  <!-- キーワード検索フォーム -->
  <%= form_with url: search_rescued_cats_path, local: true, method: :get, class: "mb-3" do |f| %>
      <div class="input-group">
        <%= f.text_field :keyword, class: "form-control", placeholder: "キーワード検索" %>
        <div class="input-group-append">
          <%= f.button :submit, class: "btn btn-outline-secondary", type: "submit" do %>
            <i class="fas fa-search"></i>
          <% end %>
        </div>
      </div>
   <% end %>

  <!-- タグ検索フォーム -->
  <%= form_with url: label_search_rescued_cats_path, local: true, method: :get, class: "mb-3" do |f| %>
    <div class="input-group">
      <%= f.text_field :name, class: "form-control", placeholder: "タグ検索" %>
      <div class="input-group-append">
        <%= f.button :submit, class: "btn btn-outline-secondary", type: "submit" do %>
          <i class="fas fa-search"></i>
        <% end %>
      </div>
    </div>
  <% end %>

  <%= render 'public/rescued_cats/rescued_cats', rescued_cat: @rescued_cat %>

   <div class="row justify-content-center ">
    <div class="col-4 ">
      <%= paginate @rescued_cats %>
    </div>
  </div>

</div>