<h1>里親募集詳細</h1>
  
   <% if @rescued_cat.images.attached? %>
      <% @rescued_cat.images.each do |image| %>
        <%= image_tag image, size: "200x200" %>
      <% end %>
   <% end %>


   <p><%= @rescued_cat.title %></p>
   <p><%= @rescued_cat.body %></p>
   
   <% if @rescued_cat.name %>
     <p>名前：<%= @rescued_cat.name %></p>
   <% else %>
     <p>名前：</p>
   <% end %>
   <p>性別：<%= @rescued_cat.sex %></p>
    
   <% if @rescued_cat.age %>
   <p>年齢：<%= @rescued_cat.age %> 才</p>
 　<% else %>
   <p>年齢：不明</p>
   <% end %>
   <p>ワクチン</p>
   <%= @rescued_cat.vaccine %>
   <p>去勢/避妊手術</p>
    <% if @rescued_cat.is_castration %>
      <p>手術済</p>
    <% else %>
      <p>未手術</p>
    <% end %>
    
    <p>譲渡先</p>
    <% if@rescued_cat.is_completion %>
      <p>譲渡先決定！</p>
    <% else %>
      <p>募集中</p>
    <% end %>
    
  <p>コメント件数：<%= @rescued_cat.rescued_cat_comments.count %></p>
  <% @rescued_cat.rescued_cat_comments.each do |rescued_cat_comment| %>
    <%= rescued_cat_comment.user.nickname %>
    <%= rescued_cat_comment.created_at.strftime('%Y/%m/%d') %><%= rescued_cat_comment.comment %>
    <% if rescued_cat_comment.user == current_user %>
      <%= link_to "削除", rescued_cat_rescued_cat_comment_path(rescued_cat_comment.rescued_cat, rescued_cat_comment), method: :delete %>
    <% end %>
  <% end %>
    
  <div>
    <%= form_with model: [@rescued_cat, @rescued_cat_comment] do |f| %>
      <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
      <%= f.submit "送信する" %>
    <% end %>
 </div>
    
    

 <% if @rescued_cat.user == current_user %> 
    <%= link_to "編集する", edit_rescued_cat_path(@rescued_cat), class: "btn btn-sm btn-info" %>
    <%= link_to "削除", rescued_cat_path(@rescued_cat.id), method: :delete, class: "btn btn-danger", "data-confirm" => "本当に削除しますか？" %>
 <% end %>