<h1 id="room" data-room="<%= @room.id %>" data-user="<%= current_user.id %>"><%= @user.nickname %> さんとのチャット</h1>

<div class="message" style="width: 400px;">
  <% @chats.each do |chat| %>
    <% if chat.user_id == current_user.id %>
      <p style="text-align: right;"><%= chat.message %></p>
    <% else %>
      <p style="text-align: left;"><%= chat.message %></p>
    <% end %>
  <% end %>
</div>

<div class="errors">
  <%= render "layouts/errors", obj: @chat %>
</div>

<%= form_with model: @chat, data: {remote: true} do |f| %>
  <%= f.text_field :message %>
  <%= f.hidden_field :room_id %>
<% end %>



<div class="container">
  <h1 id="room" data-room="<%= @room.id %>" data-user="<%= current_user.id %>"><%= @user.nickname %> さんとのチャット</h1>

  <div class="message">
    <% @chats.each do |chat| %>
      <% if chat.user_id == current_user.id %>
        <p class="text-right"><%= image_tag chat.user.get_profile_image(100, 100), class: "mr-3 rounded-circle" %><span class="bg-primary text-white p-2 rounded"><%= chat.message %></span><small class="d-block text-right"><%= chat.created_at.strftime("%H:%M") %></small></p>
      <% else %>
        <p class="text-left"><%= image_tag chat.user.get_profile_image(100, 100), class: "mr-3 rounded-circle" %><span class="bg-light p-2 rounded"><%= chat.message %></span><small class="d-block text-left"><%= chat.created_at.strftime("%H:%M") %></small></p>
      <% end %>
    <% end %>
  </div>

  <div class="errors">
    <%= render "layouts/errors", obj: @chat %>
  </div>

  <%= form_with model: @chat, data: {remote: true}, class: "chat-form" do |f| %>
    <%= f.text_field :message, class: "form-control" %>
    <%= f.hidden_field :room_id %>
  <% end %>
</div>
