<div class="container mt-5">

  <h1 class="text-center">日記一覧</h1>
  
    <h3 class = "text-right mb-3">
      <%= link_to "コメント一覧へ", admin_diary_diary_comments_path(:diary_id), class: "btn btn-sm btn-info" %>
    </h3>
   <div class="row">
    <% @diaries.each do |diary| %>
      <div class="col-md-3 mb-4">
        <div class="card">
          <div class="card-header text-center">
            <%= link_to diary_path(diary.id), class: "card-title" do %>
              <%= diary.title %>
            <% end %>
          </div>

          <% if diary.images.attached? %>
            <%= link_to diary_path(diary.id) do %>
              <%= image_tag diary.images.first, class: "card-img-top", alt: "Cat Image", size: "100x200" %>
            <% end %>
          <% end %>

          <div class="card-body">
            <p><%= image_tag diary.user.get_profile_image(50,50), class: "mr-3 rounded-circle" %>
              <%= link_to admin_user_path(diary.user.id) do %>
                <%= diary.user.nickname %>
               <% end %>
            </p>
            <small><%= truncate(diary.body, :length => 30) %></small>
            <p class = "justify-content-end">
             <%= link_to "削除", admin_diary_path(diary), method: :delete, class: "btn btn-danger", "data-confirm" => "本当に削除しますか？" %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  


    <div class="row justify-content-center">
      <div class="col-4">
        <%= paginate @diaries %>
      </div>
    </div>

</div>
 

