 <div class="row">
    <% @diaries.each do |diary| %>
      <div class="col-md-3 mb-4">
        <div class="card">
          <div class="card-header text-center">
            <%= link_to diary_path(diary.id), class: "card-title" do %>
              <%= diary.title %>
            <% end %>
          </div>

          <% if diary.images.attached? %>
            <%= link_to diary_path(diary.id) do %>
              <%= image_tag diary.images.first, class: "card-img-top", alt: "Cat Image", size: "100x200" %>
            <% end %>
          <% end %>

          <div class="card-body">
            <p><%= render 'public/diaries/tag', diary: diary %></p>
            <p><%= image_tag diary.user.get_profile_image(50,50), class: "mr-3 rounded-circle" %>
              <%= link_to my_page_user_path(diary.user.id) do %>
                <%= diary.user.nickname %>
               <% end %>
            </p>
            <p><i class="far fa-comment"></i> <%= diary.diary_comments.count %></p>
            <p><%= render 'public/diaries/favorite', diary: diary, current_user: current_user %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>