<div class="container mt-5">

  <h1 class="text-center">日記一覧</h1>

  <!-- キーワード検索フォーム -->
  <%= form_with url: search_diaries_path, local: true, method: :get, class: "mb-3" do |f| %>
    <div class="input-group">
      <%= f.text_field :keyword, class: "form-control", placeholder: "キーワード検索" %>
      <div class="input-group-append">
        <%= f.button :submit, class: "btn btn-outline-secondary" do %>
          <i class="fas fa-search"></i>
        <% end %>
      </div>
    </div>
  <% end %>

  <!-- タグ検索フォーム -->
  <%= form_with url: tag_search_diaries_path, local: true, method: :get, class: "mb-3" do |f| %>
    <div class="input-group">
      <%= f.text_field :name, class: "form-control", placeholder: "タグ検索" %>
      <div class="input-group-append">
        <%= f.button :submit, class: "btn btn-outline-secondary" do %>
          <i class="fas fa-search"></i>
        <% end %>
      </div>
    </div>
  <% end %>

  <!-- 並び替えボタン -->
  <div class="btn-group mb-3" role="group" aria-label="Sort Diaries">
    <%= link_to '新着順', diaries_path(latest: "true"), class: "btn btn-outline-secondary" %>
    <%= link_to '古い順', diaries_path(old: "true"), class: "btn btn-outline-secondary" %>
    <%= link_to 'いいね順', diaries_path(most_favorited: "true"), class: "btn btn-outline-secondary" %>
  </div>

  <%= render 'public/diaries/diaries', diary: @diary %>

  <!--ページネーション-->
  <!--<div class="row justify-content-center">-->
  <!--  <div class="col-4">-->
  <!--    < %= paginate @diaries %>-->
  <!--  </div>-->
  <!--</div>-->

</div>