<h1>日記一覧</h1>


 
<% @diaries.each do |diary| %>

  
   <% if diary.images.attached? %>
      <% diary.images.each do |image| %>
        <%= image_tag image, size: "200x200" %>
      <% end %>
   <% end %>

   <%= link_to diary_path(diary.id) do %>
    <p><%= diary.title %></p>
   <% end %>
   
  　
   <p>体重</p>
   <%= diary.weight %>
   
 
 <p>コメント件数：<%= diary.diary_comments.count %></p>
 <p><%= render 'public/diaries/favorite', diary: diary %></p>

<% end %>