<h1>日記投稿</h1>



<%= form_with model: @diary, multipart: true do |f| %>

　<h4>猫ちゃん</h4>
  <%= f.collection_select :cat_id, @cats, :id, :name, prompt: '選択してください' %>

  <h4>画像</h4>
  <%= f.file_field :images, multiple: true %>
  <%= f.label :name, "タグ(“/”で複数個登録できます)" %>
  <%= f.text_field :name, autofocus: true, placeholder:"三毛猫/保護猫"%>
  <h4>タイトル</h4>
  <%= f.text_field :title, autofocus: true %>
  <h4>本文</h4>
  <%= f.text_area :body, autofocus: true  %>
  <h4>体重</h4>
   <%= f.text_field :weight, autofocus: true  %>
 
  <%= f.submit '登録' %>
  
<% end %>