<h1>日記</h1>



<%= form_with model: @diary, multipart: true do |f| %>

　<h4>猫ちゃん</h4>
  <%= f.collection_select :cat_id, @cats, :id, :name, prompt: '選択してください' %>

  <h4>画像</h4>
   <%= f.file_field :images, multiple: true %>
  <h4>タイトル</h4>
  <%= f.text_field :title %>
  <h4>本文</h4>
  <%= f.text_area :body %>
  <h4>体重</h4>
   <%= f.text_field :weight %>
 
  <%= f.submit '登録' %>
  
<% end %>