<h1><%= @diary.cat.name %>の日記</h1>


 <%= image_tag @diary.user.get_profile_image(100,100) %>
 <%= link_to my_page_user_path(@diary.user.id) do %>
    <p><%= @diary.user.nickname %></p>
 <% end %>

 <% if @diary.images.attached? %>
      <% @diary.images.each do |image| %>
        <%= image_tag image, size: "200x200" %>
      <% end %>
 <% end %>
  
  <p>
    <% @diary.tags.each do |tag| %>
    <span><%= tag.name %></span>
    <% end %>
  </p>
  
  
  <p><%= @diary.title %></p>
  
   
  <p>本文</p>
   <%= @diary.body %>
   
  <p>体重</p>
   <%= @diary.weight %>
  
  <%= render 'public/diaries/favorite', diary: @diary %>
  
  <p>コメント件数：<%= @diary.diary_comments.count %></p>
  <% @diary.diary_comments.each do |diary_comment| %>
    <%= diary_comment.user.nickname %>
    <%= diary_comment.created_at.strftime('%Y/%m/%d') %><%= diary_comment.comment %>
    <% if diary_comment.user == current_user %>
      <%= link_to "削除", diary_diary_comment_path(diary_comment.diary, diary_comment), method: :delete %>
    <% end %>
  <% end %>

<div>
  <%= form_with model: [@diary, @diary_comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>
  
  
  
  
  <% if @diary.user == current_user %> 
    <%= link_to "編集する", edit_diary_path(@diary), class: "btn btn-sm btn-info" %>
    <%= link_to "削除", diary_path(@diary.id), method: :delete, class: "btn btn-danger", "data-confirm" => "本当に削除しますか？" %>
  <% end %>