<div class="container mt-5">
  <h1 class="text-center">日記詳細</h1>

  <div class="card mt-4 bg-light">
    <div class="card-body">

      <!-- ユーザー情報 -->
      <div class="d-flex align-items-center mb-3">
        <%= image_tag @diary.user.get_profile_image(100,100), class: "mr-3 rounded-circle" %>
        <div>
          <%= link_to my_page_user_path(@diary.user.id) do %>
            <p class="font-weight-bold mb-0"><%= @diary.user.nickname %></p>
          <% end %>
          <div id="follow_btn_<%= @user.id %>">
            <%= render 'public/relationships/follow_btn', user: @user %>
          </div>
        </div>
      </div>

      <!-- 画像 -->
      <div class="container mt-5">
        <div class="row justify-content-center">
          <div class="col-md-8">
               <% if  @diary.images.attached? %>
                <%  @diary.images.each do |image| %>
                  <%= image_tag image, class: "img-fluid ", size: "700x700" %>
                <% end %>
              <% end %>
          </div>
        </div>
      </div>

      
  
      <!-- 詳細情報 -->
      <p><%= render 'public/diaries/tag', diary: @diary %></p> 
      <p class="font-weight-bold"><%= @diary.title %></p>
      <!--本文を改行ありで表示-->
      <p><%=safe_join(@diary.body.split("\n"),tag(:br))%></p>
      <p>体重： <%= @diary.weight %> kg</p>
     
      <!-- いいねとコメント -->
      <div class="diaries_favorite_<%= @diary.id %>">
        <p><%= render 'public/diaries/favorite', diary: @diary %></p>
      </div>
      <div id="comment_counter">
        <p><%= render 'public/diary_comments/counter', diary: @diary %></p>
      </div>
      <div id="comment_index">
        <p><%= render 'public/diary_comments/index', diary: @diary %></p>
      </div>
      
      <!-- コメントフォーム -->
     <div class="mt-3">
        <p><%= render 'public/diary_comments/form', diary: @diary, diary_comment: @diary_comment %></p>
     </div>

      <!-- 編集・削除ボタン -->
      <div class="container mt-5">
        <div class="row justify-content-center">
          <% if @diary.user == current_user %> 
           <%= link_to "編集する", edit_diary_path(@diary), class: "btn btn-success mr-3 " %>
           <%= link_to "削除", diary_path(@diary.id), method: :delete, class: "btn btn-danger", "data-confirm" => "本当に削除しますか？" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>

