<div class="table-responsive"> 
  <table class="table mt-3" style="background-color: #ffffe0;">
    <thead>
      <tr>
        <th></th>
        <th>ニックネーム</th>
        <th></th>
        <th>フォロー</th>
        <th>フォロワー</th>
        <th>日記</th>
        <th>里親募集</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% users.each do |user| %>
        <tr>
          <td>
            <%= link_to my_page_user_path(user) do %>
              <%= image_tag user.get_profile_image(50, 50), class: "mr-3 rounded-circle" %>
            <% end %>
          </td>
          <td><%= user.nickname %></td>
          <td>
            <div id = "follow_btn_<%= user.id %>">
              <%= render 'public/relationships/follow_btn', user: user %>
            </div>
          </td>
          <td>
            <div id = "followers_counter_<%= user.id %>">
              <%= render 'public/relationships/followers_count', user: user %>
            </div>
          </td>
          <td>
            <div id = "followeds_counter_<%= user.id %>">
             <%= render 'public/relationships/followeds_count', user: user %>
            </div>
          </td>
          <td>
            <%= link_to diaries_user_path(user) do %>
              <p><%= user.diaries.count %>件</p>
            <% end %>
          </td>
          <td>
            <%= link_to rescued_cats_user_path(user) do %>
              <p><%= user.rescued_cats.count %>件</p>
            <% end %>
          </td>
          <td>
            <% if current_user != user && current_user.following?(user) && user.following?(current_user) %>
              <%= link_to 'チャットルームへ', chat_path(user), class: "ml-3" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
   <%= link_to "Back", my_page_user_path(@user), class: "row d-flex justify-content-center" %>
</div>