<h2>Followers</h2>
<table class='table'>
  <thead>
    <tr>
      <th>Image</th>
      <th>name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= link_to user_path(user) do %>
            <%= image_tag user.get_profile_image(50,50) %>
          <% end %>
        </td>
        <td><%= user.nickname %></td>
        <td>
          <%= link_to  diaries_user_path(user) do %>
            <p>投稿日記<%= user.diaries.count %>件</p>
          <% end %>
        </td>
        <td>  
          <%= link_to followers_user_path(user) do %>
            <p>フォロワー<%= user.followeds.count %></p>
          <% end %>
        </td>
    
      
       <td>  
      <% if current_user != user && current_user.following?(user) && user.following?(current_user) %>
          <%= link_to 'チャットルームへ', chat_path(user), class: "ml-3" %>
      <% end %>
         </td> 
           </tr>
      <% end %>
       
    
    
  </tbody>
</table> 