<header class="py-3 border-bottom " style="background-color:  #eae1bd;">
    <div class="container d-flex justify-content-center align-items-center ">
        <form class="col-12 col-lg-auto mb-3 mb-lg-0">
            <a class="navbar" href="/"><span><%= image_tag 'logo.png', size: "300x100" %></span></a>
        </form>

        <div>
            <% if user_signed_in? %>
                <%= image_tag current_user.get_profile_image(100, 100), class: "rounded-circle" %>
            <% elsif admin_signed_in? %>
                <h5 class="text-right">管理者でログインしています</h5>
            <% else %>
            <% end %>
        </div>
         <% if user_signed_in? %>
           <div class = "ml-3">
              <%= render 'layouts/notification' %>
           </div>
         <% end %>
    </div>
</header>
  <nav class="py-1 bg-body-tertiary border-bottom sticky-top" style="background-color: #deb887;">
    <div class="container d-flex flex-wrap justify-content-center ">
       <ul class="nav me-auto ">

                  <% if admin_signed_in? %>
                  <!--admin側ログイン後のheaderを返す-->
                      <%= link_to root_path, class: "btn btn-outline-dark m-1" do %><i class="fa-solid fa-house"></i> トップ<% end %>
                      <%= link_to admin_users_path, class:"btn btn-outline-dark m-1" do %><i class="fa-solid fa-users"></i> 会員一覧<% end %>
                      <%= link_to admin_diaries_path, class: "btn btn-outline-dark m-1" do %><i class="fa-solid fa-book-open"></i> みんなの日記<% end %>
                      <%= link_to admin_rescued_cats_path, class: "btn btn-outline-dark m-1" do %><i class="fa-solid fa-paw"></i> 里親募集<% end %>
                      <%= link_to destroy_admin_session_path, method: :delete, class:"btn btn-outline-dark m-1" do %><i class="fa-solid fa-person-running"></i> ログアウト<% end %>
                  <% elsif user_signed_in? %>
                  <!--userログイン後のheaderを返す  -->
                      <%= link_to root_path, class: "btn btn-outline-dark m-1" do %><i class="fa-solid fa-house"></i> トップ<% end %>
                      <%= link_to home_about_path, class: "btn btn-outline-dark m-1" do %><i class="fa-regular fa-circle-question"></i> アバウト<% end %>
                      <%= link_to rescued_cats_path, class: "btn btn-outline-dark m-1" do %><i class="fa-solid fa-paw"></i> 里親募集 <% end %>
                      <%= link_to diaries_path, class: "btn btn-outline-dark m-1" do %><i class="fa-solid fa-book-open"></i> みんなの日記 <% end %>
                      <%= link_to my_page_user_path(current_user), class: "btn btn-outline-dark m-1" do %><i class="fa-solid fa-user"></i> マイページ<% end %>
                      <%= link_to destroy_user_session_path, method: :delete, class: "btn btn-outline-dark m-1" do %><i class="fa-solid fa-person-running"></i> ログアウト<% end %>
                  <% else %>
                  <!--ログインしていない時に表示するheaderのメニューを記載-->
                      <%= link_to root_path, class: "btn btn-outline-dark m-1" do %><i class="fa-solid fa-house"></i> トップ<% end %>
                      <%= link_to home_about_path, class: "btn btn-outline-dark m-1" do %><i class="fa-regular fa-circle-question"></i> アバウト<% end %>
                      <%= link_to rescued_cats_path, class: "btn btn-outline-dark m-1" do %><i class="fa-solid fa-paw"></i> 里親募集 <% end %>
                      <%= link_to diaries_path, class: "btn btn-outline-dark m-1" do %><i class="fa-solid fa-book-open"></i> みんなの日記 <% end %>
                      <%= link_to new_user_registration_path, class: "btn btn-outline-dark m-1" do %><i class="fa-solid fa-user-plus"></i> 新規会員登録 <% end %>
                      <%= link_to new_user_session_path, class: "btn btn-outline-dark m-1" do %><i class="fa-solid fa-right-to-bracket"></i> ログイン<% end %>
                      <%= link_to users_guest_sign_in_path, method: :post, class: "btn btn-outline-dark m-1" do %><i class="fa-solid fa-user-secret"></i> ゲストログイン<% end %>
                  <% end %>
      </ul>
    </div>
  </nav>
  